version: '3.4'

services:
  artillery.api:
    image: artilleryapi:dev
    build:
      target: base
    environment:
      - DOTNET_USE_POLLING_FILE_WATCHER=1
      #- NUGET_FALLBACK_PACKAGES=$container_paths_to_fallback_packages_artillery.api$
    volumes:
      - C:\_estudos\ExemploArtillery\Artillery.API:/app
      - C:\Users\U002647\vsdbg\vs2017u5:/remote_debugger:ro
#$nuget_volume_mapping_artillery.api$
    entrypoint: tail -f /dev/null
    labels:
      com.microsoft.visualstudio.debuggee.program: "dotnet"
      #com.microsoft.visualstudio.debuggee.arguments: " $debuggee_arguments_probing_paths_artillery.api$ bin/Debug/netcoreapp2.2/Artillery.API.dll"
      com.microsoft.visualstudio.debuggee.workingdirectory: "/app"
      com.microsoft.visualstudio.debuggee.killprogram: "/bin/bash -c \"if PID=$$(pidof -x dotnet); then kill $$PID; fi\""
